<!-- sidebar.html -->
<div th:fragment="sidebar" class="d-flex flex-column flex-shrink-0 p-3 border-end border-secondary border-opacity-50 bg-dark-subtle" style="width: 270px;">
    <a class="h2 mb-2 text-decoration-none" href="/"><span style="color: #6DB33F">Spring</span> Music</a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto gap-2">
        <li class="nav-item">
            <a href="/" class="nav-link text-body fs-5 hover-style" aria-current="page">
                <i class="fa-solid fa-house me-2"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link bg-dark text-custom fs-5 hover-style">
                <i class="fa-solid fa-microphone-lines text-custom me-2 fs-4"></i>
                <span>Artists</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-body fs-5 hover-style">
                <i class="fa-solid fa-record-vinyl me-2"></i>
                <span>Albums</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-body fs-5 hover-style">
                <i class="fa-solid fa-music me-2"></i>
                <span>Songs</span>
            </a>
        </li>
        <!-- Accordion Item -->
        <li>
            <div class="accordion" id="sidebarAccordion" >
                <div class="accordion-item bg-transparent border-0">
                    <h2 class="accordion-header" id="headingMusic">
                        <button class="accordion-button bg-dark-subtle text-body fs-5 collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMusic" aria-expanded="false" aria-controls="collapseMusic">
                            <span>My Music</span>
                        </button>
                    </h2>
                    <div id="collapseMusic" class="accordion-collapse collapse" aria-labelledby="headingMusic" data-bs-parent="#sidebarAccordion">
                        <div class="accordion-body p-0">
                            <ul class="nav flex-column ms-3">
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-body fs-6 hover-style like-hover">
                                        <i class="fa-solid fa-heart me-2"></i>
                                        Favorite Songs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-body fs-6 hover-style">
                                        <i class="fa-solid fa-folder-open me-2"></i>
                                        Album Library
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center  text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>User</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
